<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>effect_1004_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,2},{248,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{248,248}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>effect_1004_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,974},{148,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{148,158}}</string>
			<key>sourceSize</key>
			<string>{150,160}</string>
		</dict>
		<key>effect_1004_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,974},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>effect_1004_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,744},{352,218}}</string>
			<key>offset</key>
			<string>{-14,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,22},{352,218}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,252},{344,230}}</string>
			<key>offset</key>
			<string>{-11,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{344,230}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,974},{310,230}}</string>
			<key>offset</key>
			<string>{-31,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{310,230}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{378,198}}</string>
			<key>offset</key>
			<string>{11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,21},{378,198}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,550},{354,192}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,22},{354,192}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,756},{344,216}}</string>
			<key>offset</key>
			<string>{2,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,24},{344,216}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,540},{354,214}}</string>
			<key>offset</key>
			<string>{-6,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{354,214}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,2},{370,188}}</string>
			<key>offset</key>
			<string>{-15,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,47},{370,188}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,374},{360,174}}</string>
			<key>offset</key>
			<string>{-9,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,66},{360,174}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,598},{276,178}}</string>
			<key>offset</key>
			<string>{-39,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,53},{276,178}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,778},{314,194}}</string>
			<key>offset</key>
			<string>{-17,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,37},{314,194}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,192},{368,176}}</string>
			<key>offset</key>
			<string>{10,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,49},{368,176}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{340,176}}</string>
			<key>offset</key>
			<string>{-1,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,64},{340,176}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1142},{306,174}}</string>
			<key>offset</key>
			<string>{14,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,66},{306,174}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,202},{364,170}}</string>
			<key>offset</key>
			<string>{-13,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,70},{364,170}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
		<key>effect_1004_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,370},{364,168}}</string>
			<key>offset</key>
			<string>{-18,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,65},{364,168}}</string>
			<key>sourceSize</key>
			<string>{400,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>plist_skill_effect_1004hit.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>plist_skill_effect_1004hit.png</string>
	</dict>
</dict>
</plist>
